.calories {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 175px;
    border: 8px solid var(--hover-colour);
    border-radius: 100%;
    align-self: center;
}