.calories {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 175px;
    min-width: 175px;
    max-height: 175px;
    max-width: 175px;
    border: 8px solid var(--hover-colour);
    border-radius: 100%;
    align-self: center;
    flex-wrap: wrap-reverse;
}