.container {
    background: linear-gradient(to bottom left, var(--primary-colour), var(--gradient-colour));
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innercontainer {
    color: var(--background-colour);
    height: 25rem;
    width: 55rem;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 3rem;
}

.text {
    flex-grow: 1;
}

.image {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid black;
}

#image1 {
    height: 450px;
    width: auto;
    object-fit: contain;
    transition: 0.1s ease-in-out;
}

#image1:hover {
    transform: scale(1.1);
}

p {
    margin-bottom: 70px;
}

.link {
    font-size: 1.05rem;
    color: var(--gradient-colour);
    text-decoration: none;
    background-color: var(--background-colour);
    padding: 1rem 3rem;
    border-radius: 50px;
    font-weight: bolder;
    mix-blend-mode: screen;
    transition: 0.3s ease-in-out;
}

a:hover {
    filter: brightness(97%);
}

#image2 {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 35px;
    width: auto;
}

@media screen and (max-width: 480px) {
    .innercontainer {
        flex-direction: column;
        height: 50rem;
        width: 18rem;
    }
    .text {
        text-align: center;
        margin-bottom: 70px;
    }
}