.search-food {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0 0 10px lightgray;
    height: 60%;
    width: 50%;
    background-color: white;
}

.search-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 35px;
    margin-top: 18px;
}

input[type='search'] {
    flex: 10;
    border: none;
    border: 1px solid gray;
    padding-left: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

button[type='submit'] {
    flex: 1;
    border: none;
    border: 1px solid gray;
    background-color: dodgerblue;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

ul {
    margin-top: 10px;
    overflow-y: auto;
}

.close-form {
    position: absolute;
    right: 15px;
    top: 3px;
    color: gray;
    padding: 2px 15px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.close-form:hover {
    color: rgba(0, 0, 0, 0.493);
    background-color: rgb(211 211 211 / 30%);
}

.search-more {
    display: flex;
    margin: 10px auto;
    border: none;
    background: none;
    color: dodgerblue;
}

.search-more:hover {
    color: blue;
}
