.todo-item {
    border-bottom: 1px solid var(--lightgray);
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
}

.side-todo-item {
    border-bottom: 1px solid var(--lightgray);
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
}

.checkbox-container {
    position: relative;
    top: 0.25rem;
    flex: 1;
}

input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

label {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(0 0 255 / 30%);
    border: 2px solid blue;
}

label::after {
    position: absolute;
    top: 4px;
    left: 7px;
    content: '';
    height: 8px;
    width: 4px;
    border: 2px solid blue;
    opacity: 0;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
}

.side-todo-item .checkbox-container > label {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(0 128 0 / 30%);
    border: 2px solid green;
}

.side-todo-item .checkbox-container > label::after {
    position: absolute;
    top: 4px;
    left: 7px;
    content: '';
    height: 8px;
    width: 4px;
    border: 2px solid green;
    opacity: 0;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
}

.checkbox-container > label:hover::after {
    opacity: 1;
}


input[type="checkbox"]:checked {
    + label::after {
        opacity: 1;
    }
}

.todo-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    flex: 40;
}

.todo-container section:last-child {
    font-size: 0.7rem;
    color: gray;
}

.todo-container section:first-child {
    font-size: 0.95rem;
    color: black;
}

.clock {
    margin-right: 3px;
}

.edit-container {
    position: relative;
    align-self: flex-start;
    left: 15px;
    background-color: var(--background-colour);
    opacity: 0;
    margin-left: -25px;
}

.edit-container:hover {
    opacity: 1;
}

.edit, .delete {
    color: rgba(0, 0, 0, 0.295);
    margin: 0 3px;
    border-radius: 5px;
    padding: 5px;
}

.edit:hover {
    color: rgba(0, 0, 0, 0.493);
    background-color: rgb(211 211 211 / 30%);
}

.delete:hover {
    color: var(--primary-colour);
    background-color: rgb(255 0 0 / 30%);
}

.completed {
    color: gray;
    text-decoration: line-through;
    .checkbox-container > label {
        border-color: gray;
        background-color: rgb(128 128 128 / 30%);
    }
    .checkbox-container > label::after {
        border-color: gray;
    }
}
